@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Manrope-ExtraLight";

  src: url("../../assets/fonts/Manrope-ExtraLight.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Manrope-ExtraLight.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../../assets/fonts/Manrope-ExtraLight.otf")
  format("opentype"),
  /* Open Type Font */ url("../../assets/fonts/Manrope-ExtraLight.ttf")
  format("truetype"),
  /* Safari, Android, iOS */ url("../../assets/fonts/Manrope-ExtraLight.woff")
  format("woff"),
  /* Modern Browsers */ url("../../assets/fonts/Manrope-ExtraLight.woff2")
  format("woff2"); /* Modern Browsers */
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Manrope-Light";

  src: url("../../assets/fonts/Manrope-Light.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Manrope-Light.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../../assets/fonts/Manrope-Light.otf") format("opentype"),
  /* Open Type Font */ url("../../assets/fonts/Manrope-Light.ttf")
  format("truetype"),
  /* Safari, Android, iOS */ url("../../assets/fonts/Manrope-Light.woff")
  format("woff"),
  /* Modern Browsers */ url("../../assets/fonts/Manrope-Light.woff2")
  format("woff2"); /* Modern Browsers */
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Manrope-Regular";

  src: url("../../assets/fonts/Manrope-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Manrope-Regular.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../../assets/fonts/Manrope-Regular.otf")
  format("opentype"),
  /* Open Type Font */ url("../../assets/fonts/Manrope-Regular.ttf")
  format("truetype"),
  /* Safari, Android, iOS */ url("../../assets/fonts/Manrope-Regular.woff")
  format("woff"),
  /* Modern Browsers */ url("../../assets/fonts/Manrope-Regular.woff2")
  format("woff2"); /* Modern Browsers */
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Manrope-Medium";

  src: url("../../assets/fonts/Manrope-Medium.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Manrope-Medium.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../../assets/fonts/Manrope-Medium.otf")
  format("opentype"),
  /* Open Type Font */ url("../../assets/fonts/Manrope-Medium.ttf")
  format("truetype"),
  /* Safari, Android, iOS */ url("../../assets/fonts/Manrope-Medium.woff")
  format("woff"),
  /* Modern Browsers */ url("../../assets/fonts/Manrope-Medium.woff2")
  format("woff2"); /* Modern Browsers */
}
