@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Manrope";

  src: url("../../assets/fonts/Manrope-Light.ttf") format("truetype"),
  /* Safari, Android, iOS */ url("../../assets/fonts/Manrope-Light.woff")
  format("woff"),
  /* Modern Browsers */ url("../../assets/fonts/Manrope-Light.woff2")
  format("woff2"); /* Modern Browsers */
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";

  src: url("../../assets/fonts/Manrope-Regular.ttf") format("truetype"),
  /* Safari, Android, iOS */ url("../../assets/fonts/Manrope-Regular.woff")
  format("woff"),
  /* Modern Browsers */ url("../../assets/fonts/Manrope-Regular.woff2")
  format("woff2"); /* Modern Browsers */
}
